<a href="https://colab.research.google.com/github/Jarvood11/Antilink-spam-system/blob/master/pd_reading_csv.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_excel("Чеки71.xlsx")

In [ ]:
df.head()

    ID       District  ... Ранг num
0  254  Академический  ...  428   1
1  144  Академический  ...  428   1
2  815  Академический  ...  568   1
3  652   Алексеевский  ...   24   2
4  935   Алексеевский  ...   50   2

[5 rows x 9 columns]

In [ ]:
districts = {v: i + 1 for i, v in enumerate(list(df["District"].unique()))}

In [ ]:
rangs = {v: len(df) - i for i, v in enumerate(sorted(list(df["Quantity"])))}

In [ ]:
df["num_1"] = df["District"].map(districts)
df["Ранг_1"] = df["Quantity"].map(rangs)

In [ ]:
df.head()

    ID       District  ... num_1 Ранг_1
0  254  Академический  ...     1    428
1  144  Академический  ...     1    428
2  815  Академический  ...     1    568
3  652   Алексеевский  ...     2     24
4  935   Алексеевский  ...     2     50

[5 rows x 11 columns]

In [ ]:
test_item = "Berlingo Ручка шариковая PR-05 синяя"
idx = [1, 51]

def check_num_in_idx(df, idx: list):
  mask = df["num"] == idx[0]
  for id in idx[1:]:
    mask |= df["num"] == id
  return mask

df.loc[(check_num_in_idx(df, idx)) & (df["Item"] == test_item)]

      ID       District  ... num_1 Ранг_1
1    144  Академический  ...     1    428
326  173        Крюково  ...    51    196

[2 rows x 11 columns]